/* general settings */

body {
  margin: 0;
  background-color: #ebebeb;
}

* {
  box-sizing: border-box;
}

:root {
  --text-color: black;
  --main-color: lavender;
  --highligt-color: lightblue;
}

img {
  width: 100%;
}

.hide {
  display: none;
}

/* ------ main ------- */

header h2 {
  font-family: "mugglenews";
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.img {
  width: 50px;
  padding: 5px 10px 0 0;
}

.yellowfont {
  color: #d8ad00;
}

.section-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.section-wrapper h1 {
  font-family: "headline_one";
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 57px;
  margin-bottom: 10px;
}

.data-container {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.list-item {
  padding: 10px;
  display: flex;
  font-size: 2rem;
  margin: 2px 2px 8px 2px;
  font-family: "headline_one";
  justify-content: space-between;
  border-bottom: 2px solid black;
  transition: 0.3s;
}

.list-item:hover {
  transition: 0.3s;
  transform: translateX(10px);
}

.list-item .name {
  margin: 0;
}

.list-item .house {
  margin: 0;
}

.infobar {
  width: 100%;
  height: 20px;
  font-family: "headline_one";
  font-size: 1.5rem;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.infobar .search {
  margin-bottom: 5px;
  margin-right: 20px;
  flex-basis: 100%;
}

.infobar .filter {
  flex-basis: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.infobar .sorting {
  flex-basis: 100%;
  margin-bottom: 5px;
}

.infobar select {
  font-family: "headline_one";
  font-size: 1.4rem;
  background-color: black;
  color: white;
  border-radius: 0;
  border: 2px solid black;
  letter-spacing: 1px;
  margin-right: 20px;
}

.infobar .submitknap {
  font-family: "headline_one";
  font-size: 1.4rem;
  background-color: black;
  color: white;
  border-radius: 0;
  border: 2px solid black;
  letter-spacing: 1px;
}

.infobar .searchbox {
  font-family: "headline_one";
  font-size: 1.4rem;
  background-color: #ebebeb;
  color: black;
  border: 2px solid black;
  border-radius: 0;
  letter-spacing: 1px;
}

/* ------ DETALJE VIEW------ */
#detalje {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  color: var(--text-color);
  /* cursor: pointer; */
}

.luk-knap {
  font-family: "headline_one";
  font-size: 2rem;
  border: none;
  background-color: transparent;
  transition: 0.3s;
}

.luk-knap:hover {
  transition: 0.3s;
  transform: rotate(180deg);
}

.infoboks {
  position: fixed;
  padding: 20px;
  background-color: #ebebeb;
  font-family: "headline_one";
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: black;
  width: 80vw;
  left: 10vw;
  height: 90vh;
  top: 5vh;
  margin: 0;
  cursor: default;
  border: 10px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  margin: 20px;
  width: 100%;
}

.infoboks p {
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.col-buttons {
  flex-basis: 100%;
  margin: 0 30px;
  text-align: center;
}

.col-buttons button {
  background-color: black;
  color: #ebebeb;
  border: none;
  font-family: "headline_one";
  font-size: 2rem;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.col-buttons button:hover {
  color: black;
  background-color: rgba(0, 0, 0, 0.096);
  transition: 0.3s;
}

.number-of-students {
  font-family: "headline_one";
  font-size: 2rem;
  color: #ebebeb;
  background-color: black;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: 0 5px;
  margin-top: 20px;
}

.col-img {
  flex-basis: 100%;
  margin: 0 30px;
}

.col-img img {
  width: 100px;
  border: 7px solid black;

  border-radius: 30px;
}

.full-col {
  flex-basis: 100%;
}

.gryffindor-theme {
  --text-color: rgb(255, 8, 0);
  --main-color: darkgrey;
  --highligt-color: rgb(189, 189, 189);
}

.slytherin-theme {
  --text-color: rgb(23, 255, 15);
  --main-color: rgb(234, 53, 237);
  --highligt-color: rgb(189, 189, 189);
}

.ravenclaw-theme {
  --text-color: rgb(34, 0, 255);
  --main-color: red;
  --highligt-color: rgb(189, 189, 189);
}

.hufflepuff-theme {
  --text-color: rgb(255, 251, 0);
  --main-color: black;
  --highligt-color: rgb(189, 189, 189);
}

/* ------ PREFECFT POP UP------ */

#remove-prefect {
  position: fixed;
  width: 50vw;
  height: 40vh;
  background-color: #ebebeb;
  z-index: 10000;
  top: 30vh;
  left: 25vw;
  border: 10px solid black;
  text-align: center;
  border-radius: 5px;
}

#remove-prefect h1 {
  text-align: center;
  font-family: "headline_one";
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin-top: 50px;
}
#remove-prefect button {
  font-family: "headline_one";
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.6rem;
  transition: 0.3s;
  padding: 5px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#remove-prefect button:hover {
  color: black;
  background-color: white;
  transition: 0.3s;
  border: none;
}

/* ------ fonts ------ */
@font-face {
  font-family: "mugglenews";
  src: url("mugglenews_by_nathanthenerd_d41qn8p-webfont.woff2") format("woff2"),
    url("mugglenews_by_nathanthenerd_d41qn8p-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "headline_one";
  src: url("headoh__-webfont.woff2") format("woff2"), url("headoh__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ------ mediaqueries ------ */

@media only screen and (min-width: 950px) {
  header h2 {
    font-size: 2.5rem;
  }

  .img {
    width: 70px;
  }

  .section-wrapper h1 {
    font-size: 5.5rem;
    line-height: 78px;
  }

  .infobar {
    width: 100%;
    height: 20px;
    font-family: "headline_one";
    font-size: 1.5rem;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .infobar .search {
    margin-bottom: 5px;
    margin-right: 20px;
  }

  .infobar select {
    font-family: "headline_one";
    font-size: 1.4rem;
    background-color: black;
    color: white;
    border-radius: 0;
    border: 2px solid black;
    letter-spacing: 1px;
    margin-right: 0;
  }

  .infobar .submitknap {
    font-family: "headline_one";
    font-size: 1.4rem;
    background-color: black;
    color: white;
    border-radius: 0;
    border: 2px solid black;
    letter-spacing: 1px;
  }

  .infobar .searchbox {
    font-family: "headline_one";
    font-size: 1.4rem;
    background-color: #ebebeb;
    color: black;
    border: 2px solid black;
    border-radius: 0;
    letter-spacing: 1px;
  }

  .infobar .search {
    flex-basis: 33%;
    margin: 0;
    align-self: flex-start;
  }

  .infobar .filter {
    flex-basis: 42%;
    margin: 0;
    align-self: flex-start;
  }

  .infobar .sorting {
    flex-basis: 25%;
    margin: 0;
    align-self: flex-start;
  }

  .infoboks {
    width: 60vw;
    left: 20vw;
    height: 80vh;
    top: 10vh;
  }
}
